html {
  background-color: #1c1c1f;
}

body {
  margin: 0;
  font-family: 'Apple SD Gothic Neo', '__Roboto_a2cd08',
    '__Roboto_Fallback_a2cd08', sans-serif, system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
